@model WebPizzaStore.Models.Sauce

<h1>Edit Sauce</h1>

<form asp-action="Edit" asp-route-id="@Model.Id">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsVegan">Is Vegan</label>
        <input asp-for="IsVegan" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index">Back to List</a>
</form>
